@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
#controls {
  position: fixed;
  width: 20rem;
  top: 1rem;
  right: 1rem;
  z-index: 1000;
}

/* Make the mic blink when it's listening */
.blink {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
