<mat-dialog-content class="mat-typography">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Settings</h1>
      </div>

      <div class="col-md-6 group">
        <h2>Bot Speacking</h2>

        <div class="icon-form-field"></div>

        <div class="icon-form-field">
          <mat-form-field>
            <mat-select
              placeholder="Reading Voice"
              [(value)]="settings.voice"
              (selectionChange)="onVoiceSelect($event)"
            >
              <mat-option *ngFor="let voice of voices" [value]="voice.lang">
                {{voice.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-icon
            class="info"
            fontSet="fa"
            fontIcon="fa-info-circle"
            matTooltipClass="infoText"
            matTooltip="Reading Voice"
          ></mat-icon>
        </div>

        <div class="icon-form-field">
          <mat-form-field>
            <mat-select
              [(value)]="settings.speed"
              placeholder="Speaking Speed"
              (selectionChange)="onSpeedSelect($event)"
            >
              <mat-option *ngFor="let speed of speeds" [value]="speed.value">
                {{speed.label}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-icon
            class="info"
            fontSet="fa"
            fontIcon="fa-info-circle"
            matTooltipClass="infoText"
            matTooltip="Speed of bot speaking to you"
          ></mat-icon>
        </div>
      </div>

      <div class="col-md-6 group">
        <h2>You Speaking</h2>

        <div class="icon-form-field">
          <mat-form-field>
            <mat-select
              placeholder="Listening Language"
              [(value)]="settings.listenLang"
              (selectionChange)="onListenLangSelect($event)"
            >
              <mat-option
                *ngFor="let listenLang of listenLangs"
                [value]="listenLang[1]"
              >
                {{listenLang[0]}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-icon
            class="info"
            fontSet="fa"
            fontIcon="fa-info-circle"
            matTooltipClass="infoText"
            matTooltip="lisening Voice"
          ></mat-icon>
        </div>
      </div>
    </div>
  </div>

  <footer class="docs-footer">
    <div class="raised-row">
      <button mat-raised-button color="primary" (click)="done()">Done</button>
    </div>
  </footer>
</mat-dialog-content>
