<mat-dialog-content class="mat-typography">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h1>Settings</h1>
      </div>
      <div class="col-md-4">
        <div class="raised-row">
          <button mat-raised-button color="primary" (click)="done()">
            Done
          </button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 group">
        <h2>Bot Speaking</h2>

        <div class="icon-form-field">
          <mat-form-field>
            <mat-select
              placeholder="Reading Voice"
              [(value)]="settings.voice"
              (selectionChange)="onVoiceSelect($event)"
            >
              <mat-option *ngFor="let voice of voices" [value]="voice.lang">
                {{voice.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-icon title="The language and voice the bot talks to you.">
            help_outline
          </mat-icon>
        </div>

        <div class="icon-form-field">
          <mat-form-field>
            <mat-select
              [(value)]="settings.speed"
              placeholder="Speaking Speed"
              (selectionChange)="onSpeedSelect($event)"
            >
              <mat-option *ngFor="let speed of speeds" [value]="speed.value">
                {{speed.label}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-icon title="The speed the bot talks to you.">
            help_outline
          </mat-icon>
        </div>
      </div>

      <div class="col-md-3 group">
        <h2>You Speaking</h2>

        <div class="icon-form-field">
          <mat-form-field>
            <mat-select
              placeholder="Listening Language"
              [(value)]="settings.listenLang"
              (selectionChange)="onListenLangSelect($event)"
            >
              <mat-option
                *ngFor="let listenLang of listenLangs"
                [value]="listenLang[1]"
              >
                {{listenLang[0]}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-icon title="The language that you are speaking to the bot.">
            help_outline
          </mat-icon>
        </div>

        <div class="icon-form-field">
          <mat-label>Recognition progress</mat-label>
          <mat-slide-toggle
            [checked]="settings.recognitionProgress"
            (change)="onRecognitionProgress($event)"
          >
          </mat-slide-toggle>
          <mat-icon
            title="Show the text that you're speaking as it gets interpreted."
          >
            help_outline
          </mat-icon>
        </div>
      </div>

      <div class="col-md-6 group">
        <h2>Prompts</h2>

        <div class="icon-form-field">
          <mat-form-field>
            <mat-select
              placeholder="Prompts"
              [(value)]="settings.chosenPrompt"
              (selectionChange)="onPromptSelect($event)"
            >
              <mat-option
                *ngFor="let prompt of settings.prompts"
                [value]="prompt.title"
                title="{{prompt.body}}"
              >
                {{prompt.title}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-icon
            title="A prompt that gets automatically sent to the bot on page load. Hover on the choices to see the prompt"
          >
            help_outline
          </mat-icon>
        </div>
        <custom-prompts> </custom-prompts>
      </div>
    </div>
  </div>

  <footer class="docs-footer">
    <div class="raised-row">
      <button mat-raised-button color="primary" (click)="done()">Done</button>
    </div>
    version: {{ version }}
  </footer>
</mat-dialog-content>
